html, body {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 1.75em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:link, a:visited {
    color: #529ed6;
}

a:hover{
    color: #29A5FF;
}

.contact-block {
    display: table-cell;
    vertical-align: middle;
}

.footer {
    /*position: absolute;*/
    margin-top: 50px;
    margin-bottom: 10px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.row {
    margin-bottom: 50px;
}

.project-title {
    font-weight: 500;
}

.section {
    padding: 50px 45px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 18px;
}

.img-with-shadow {
    box-shadow: 0px 2px 4px #7F7F7F;
}

.img-centered-cap {
    text-align: center;
    margin-bottom: 20px;
}

.text-field {
    width: 200px;
}

#home{
    margin-top: 35px;
}

#top-image {
    margin-bottom: 50px;
}

#bkgrd-orange {
    position: relative;
    width: 120%;
    height: 350px;
    overflow: hidden;
    background-color: rgba(250, 225, 179, 0.1);
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari */
    -moz-transform: rotate(2deg); /* Firefox */
    -o-transform: rotate(2deg); /* Opera */
    transform: rotate(2deg);
}

#avatar {
    margin-right: 25px;
    width: auto;
    height: 110px;
}

/* Overriding or editting some Bootstrap styling */
#header {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 5px #CCCCCC;
}

.nav>li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav>li:first-child {
  margin-left: 45px;
}

.nav>li:last-child {
  margin-right: 45px;
}

.nav a {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: #29A5FF;
    background-color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    font-weight: 500;
    background-color: #fff;
}


/* Add styling to Font Awesome */
.fa {
    margin-right: 15px;
    color: #666;
}

.fa-facebook-official:hover {
    color: #3b5998;
}

.fa-pinterest:hover {
    color: #cb2027;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-linkedin-square:hover {
    color: #007bb6;
}
