html, body {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    line-height: 1.75em;
}

/*body {
    background-image: url("/media/brain_coronal_flower.png");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center 175px;
}*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a:hover{
    color: #29A5FF;
}

.contact-block {
    display: table-cell;
    vertical-align: middle;
}

.footer {
    /*position: absolute;*/
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.section {
    padding: 40px 45px;
}

#avatar {
    margin-right: 15px;
    width: 100px;
    height: 100px;
}


/* Override some Bootstrap styling */
div.header.clearfix {
    margin: 15px;
}

.nav a {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-weight: 300;
    color: #333;
}

.nav-pills>li>a:focus, .nav-pills>li>a:hover {
    color: #29A5FF;
    background-color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    font-weight: 500;
    background-color: #fff;
}


/* Add styling to Font Awesome */
.fa {
  margin-top: 15px;
  margin-right: 15px;
  color: #666;
}

.fa-facebook-official:hover {
  color: #3b5998;
}

.fa-pinterest:hover {
  color: #cb2027;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-linkedin-square:hover {
  color: #007bb6;
}
